.App {
  text-align: center;

}

.body {
  text-align:center;
  display:flex;
  flex-direction:column;
}

.button {
  display:flex;
  flex-direction:row;
  

}

.b1 {
  text-align: center;
  padding: 70px;
  margin:30px;

}